.container {
  background-color: var(--black);
}

.header {
  --bg: var(--yellow);
  background: var(--bg);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  --bg: var(--yellow);
  background: var(--black);
}
